.App {
  font-family: 'Open Sans', sans-serif;
}

.main {
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#dashboardColumn {
  width: 36vw;
  height: 70vh;
  overflow: scroll;
}